[submodule "yujin_ocs"]
	path = yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
[submodule "custom_pkgs/cartographer_ros"]
	path = custom_pkgs/cartographer_ros
	url = https://github.com/cartographer-project/cartographer_ros.git
[submodule "custom_pkgs/cartographer"]
	path = custom_pkgs/cartographer
	url = https://github.com/cartographer-project/cartographer.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "custom_pkgs/ps4_joy"]
	path = custom_pkgs/ps4_joy
	url = https://github.com/SergeyuiL/ps4_joy.git
[submodule "custom_pkgs/wit_ros_imu"]
	path = custom_pkgs/wit_ros_imu
	url = https://github.com/SergeyuiL/wit_ros_imu.git
[submodule "custom_pkgs/2d_lidar_undistortion"]
	path = custom_pkgs/2d_lidar_undistortion
	url = https://github.com/SergeyuiL/2d_lidar_undistortion.git
[submodule "interbotix_ros_core"]
	path = interbotix_ros_core
	url = https://github.com/SergeyuiL/interbotix_ros_core.git
[submodule "interbotix_ros_rovers"]
	path = interbotix_ros_rovers
	url = https://github.com/SergeyuiL/interbotix_ros_rovers.git
[submodule "interbotix_ros_toolboxes"]
	path = interbotix_ros_toolboxes
	url = https://github.com/SergeyuiL/interbotix_ros_toolboxes.git
[submodule "interbotix_ros_manipulators"]
	path = interbotix_ros_manipulators
	url = https://github.com/SergeyuiL/interbotix_ros_manipulators.git
[submodule "kobuki"]
	path = kobuki
	url = https://github.com/SergeyuiL/kobuki.git
[submodule "custom_pkgs/apriltag"]
	path = custom_pkgs/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "custom_pkgs/locobot/scripts/GMatch"]
	path = custom_pkgs/locobot/scripts/GMatch
	url = https://github.com/yang2019901/GMatch.git
