<launch>
  <arg name="base_type" default="kobuki" />
  <arg name="robot_name" default="locobot" />

  <arg if="$(eval base_type == 'kobuki')" name="move_base_cmd_vel_topic"
    default="mobile_base/commands/velocity" />
  <arg if="$(eval base_type == 'create3')" name="move_base_cmd_vel_topic"
    default="/mobile_base/cmd_vel" />

  <arg if="$(eval base_type == 'kobuki')" name="odom_topic" default="mobile_base/odom" />
  <arg if="$(eval base_type == 'create3')" name="odom_topic" default="/mobile_base/odom" />

  <node
    pkg="move_base"
    type="move_base"
    respawn="false"
    name="move_base"
    output="screen"
    ns="$(arg robot_name)">
    <rosparam file="$(find locobot)/config/mvbase/common_costmap.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find locobot)/config/mvbase/common_costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find locobot)/config/mvbase/local_costmap.yaml" command="load" />
    <rosparam file="$(find locobot)/config/mvbase/global_costmap.yaml" command="load" />

    <rosparam file="$(find locobot)/config/mvbase/local_planner.yaml" command="load" />
    <rosparam file="$(find locobot)/config/mvbase/global_planner.yaml" command="load" />
    <rosparam file="$(find locobot)/config/mvbase/mvbase_top.yaml" command="load" />

    <remap from="cmd_vel" to="$(arg move_base_cmd_vel_topic)" />
    <remap from="map" to="/map" />
    <remap from="odom" to="$(arg odom_topic)" />
  </node>
</launch>